@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
   background-color: #111;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3136408e;
    width: 350px;
    border-radius: 8px;
    min-height: 420px;
    box-shadow: 15px 7px 22px -3px #111bd946;
}
.caixa-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{

 margin: 30px ;

}
.text-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.text-logo h1{
   
    color: #fff;
    font-size: 22px;
    font-weight: 700;

    
}
.span-name{
    color:#9591F2;
    
}
.text-logo p{
    color: #f1efef;
    margin-top: 10px;
    margin-bottom: 20px;
}
.img-logo{
    width:130px;
    border-radius: 100px;
    margin-right: 10px;
    
}

.box {
    background-color: #f1efef;
    margin: 30px;

    height: 35px;
    width: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:  flex-start;
    border-radius: 15px;
    box-shadow: 8px 5px 16px -3px #9491f2a0;
    
   
}

.button{
    text-decoration: none;
    color: #111;
}
.button :hover{
    background-color:#111bd966 ;
    color: #fff;
    

}
.button :active{
    background-color:#9491f2a0 ;
}
.button p{
    font-size: 14px;
    margin-left: 80px;
}
.box img{
    width: 25px;
    margin-left: 15px;

    

}

