@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(101,191,124);
    background: linear-gradient(0deg, rgba(101,191,124,1) 16%, rgba(49,54,64,1) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3136408e;
    width: 350px;
    height: 450px;
    border-radius: 8px;
    
    box-shadow: 10px 7px 16px -3px rgba(0,0,0,0.69);
}
.logo{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 margin-bottom: 30px;

}
.logo h1{
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    
}
.span-name{
    color:#65BF7C;
}
.logo p{
    color: #f1efef;
    margin-top: 10px;
}
.img-logo{
    width:70px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.box {
    background-color: #f1efef;
    margin: 20px;
    height: 35px;
    width: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:  flex-start;
    border-radius: 8px;
    box-shadow: 8px 5px 16px -3px #65bf7cce;
    
   
}

.button{
    text-decoration: none;
    color: #111;
}
.button :hover{
    background-color:#65BF7C ;
    

}
.button :active{
    background-color:#518C60 ;
}
.button p{
    font-size: 14px;
    margin-left: 80px;
}
.box img{
    width: 25px;
    margin-left: 15px;

    

}

